@use 'variables';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variables.$bgColor;
    z-index: 1;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
    }

    &__logo {
        height: 24px;
        transition: opacity .5s ease;
        width: 100%;
    }

    &__links {
        display: flex;

        &__item {
            a {
                padding: 12px;
                text-decoration: none;
                color: variables.$secondaryTextColor;

                &:hover {
                    background-color: variables.$bgButtonColor;
                    color: variables.$primaryTextColor;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
}