@use 'variables';

.hero {
    padding: 0 44px;
    margin-bottom: 28px;
    height: 100%;
    background-image: 
        linear-gradient(to left, transparent, rgba(0,5,13,0.7)),
        linear-gradient(to bottom, rgba(0,5,13,0.1), rgba(0,5,13,1)),
        linear-gradient(to bottom, transparent, rgba(0,5,13,0.1)),
        url('../../dist/images/background/elliot-red.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;

    &__container {
        padding-top: 48px;
        display: flex;
        align-items: flex-end;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        gap: 24px;
    }

    h4 {
        letter-spacing: .02em;
        position: relative;
    }

    &__list {
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;

        &__branding {

            img {
                max-height: 120px;
                max-width: 100%;
                height: 5vw;
            }
        }

        &__season {
            margin: 12px 0;

            a {
                color: variables.$primaryTextColor;
                text-decoration: none;
            }
        }

        &__info {
            margin: 12px 0;
            display: flex;
            align-items: center;
            gap: 12px;

            &__icons {
                img {
                    max-height: 24px;
                }
            }
        }

        &__genre {
            a {
                color: variables.$primaryTextColor;
            }
        }

        &__included {
            margin: 24px 0 12px;
        }

        &__play {
            display: flex;
            align-items: center;
            gap: 24px;
            height: 64px;
            margin-bottom: 12px;

            &__button {
                a {
                    display: flex;
                    align-items: center;

                    text-decoration: none;
                    color: variables.$primaryTextColor;
                }
                
                .bi {
                    font-size: 64px;
                    margin-right: 12px;
                    height: 100%;
                }

                span {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 4px;
                    cursor: pointer;
                    
                    .bord-bot {
                        border-bottom: 5px solid variables.$bgButtonColor;
                        border-radius: 2px;
                    }
                }

                &:active {
                    transform: scale(0.9);
                }
            }

            &__icons {
                .icons__container {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    height: 40px;
                }
            }
        }
    }

}